<div class="container">
    <div class="form-group" id="content-creator" style="display: none">
      <label><p>Title</p></label>
      <input class="form-control" type="text" placeholder="Title" name="title" id="title"><br/>
      <label><p>Body</p></label>
      <textarea class="form-control" name="body" id="body" rows="5" placeholder="Body Text"></textarea><br/>
      <button id="submit-button" class="btn btn-primary">
        Submit
      </button>
    </div>
</div>
<div class="panel panel-group" style="height:315px; overflow: scroll;">
  <div id="content">
  </div>
</div>
