<div class="panel panel-default" id="leftPanel">
  <div class="panel-body">
    <div id="profilePhoto">
      <img src="../../assets/images/ProfilePhotoSmall.png" alt="This is me">
    </div>
    <div id="leftPanelContent">
      <p class="asidetitle">whoami</p>
      <p><br>Name: Pat Emery<br>Location: Boston<br>Occupation: Grad Student<br> Github: patemeryfl<br><br><br></p>
      <p class="asidetitle">contact</p>
      <div id="socialmedia">
        <a href="https://www.facebook.com/Emery.Pat" class="smBurst column">
          <figure><img src="../../assets/images/facebook.png" alt="Facebook"></figure>
        </a>
        <a href="https://www.instagram.com/patemeryfl/" class="smBurst column">
          <figure><img src="../../assets/images/instagram.png" alt="Instagram"></figure>
        </a>
        <a href="https://twitter.com/patemeryfl" class="smBurst column">
          <figure><img src="../../assets/images/twitter.png" alt="Twitter"></figure>
        </a>
        <a href="mailto:patemery21@gmail.com?Subject=Hey%20Pat" target="_top" class="smBurst column">
          <figure><img src="../../assets/images/gmail.png" alt="GMail"></figure>
        </a>
        <a href="https://www.linkedin.com/in/patrick-emery-20234241" class="smBurst column">
          <figure><img src="../../assets/images/linkedin.png" alt="LinkedIn"></figure>
        </a>
        <a href="http://www.youtube.com/c/PatEmery" class="smBurst column">
          <figure><img src="../../assets/images/youtube.png"  alt="YouTube"></figure>
        </a>
    </div>

    </div>
  </div>
</div>
