<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle"
              data-toggle="collapse"
              data-target="#myNavbar"
              value=""
              aria-label="Open"
              aria-labelledby="myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#myPage">Pat Emery</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a data-toggle="tab" class="hvr-nav-effect" href="#home">HOME</a></li>
        <li><a data-toggle="tab" class="hvr-nav-effect" href="#projects">PROJECTS</a></li>
        <li><a data-toggle="tab" class="hvr-nav-effect" href="#blog">BLOG</a></li>
        <li><a data-toggle="tab" class="hvr-nav-effect" href="#contact">CONTACT</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">MORE
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a data-toggle="tab" href="#resume">Resume</a></li>
            <li><a data-toggle="tab" href="#education">Education</a></li>
            <li><a data-toggle="tab" href="#aboutSite">About This Site</a></li>
          </ul>
        </li>
        <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
      </ul>
    </div>
  </div>
</nav>
