<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Contact</h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-3">
        <p><span class="glyphicon glyphicon-map-marker"></span>Facebook</p>
        <p><span class="glyphicon glyphicon-map-marker"></span>Youtube</p>
        <p><span class="glyphicon glyphicon-map-marker"></span>Twitter</p>
        <p><span class="glyphicon glyphicon-map-marker"></span>GitHub</p>
        <p><span class="glyphicon glyphicon-phone"></span>Phone: Ask For It</p>
        <p><span class="glyphicon glyphicon-envelope"></span>Email: patemery21@gmail.com</p>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-sm-6 form-group">
            <input class="form-control" id="formName" name="name" placeholder="Name" type="text" required>
          </div>
          <div class="col-sm-6 form-group">
            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
          </div>
        </div>
        <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
        <br>
        <div class="row">
          <div class="col-md-12 form-group">
            <button class="btn btn-success pull-right" type="submit">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
