<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#222222">
  <title>Pat Emery</title>
  <!-- Web Manifest -->
  <link rel="manifest" href="../assets/manifest.json">
  <meta name="msapplication-TileColor" content="#2F3BA2">
  <script src="../assets/service-worker.js"></script>
</head>
<body>

  <div class="container">
    <app-nav></app-nav>
    <div class="row">
      <div class="col-sm-3" id="leftPanel">
        <app-left-panel></app-left-panel>
      </div>
      <div class="col-sm-9" id="mainContent">
        <div class="tab-content mainSection">
          <div id="home" class="tab-pane fade in active">
            <app-about></app-about>
          </div>
          <div id="projects" class="tab-pane fade">
            <app-projects></app-projects>
          </div>
          <div id="blog" class="tab-pane fade">
            <app-blog></app-blog>
          </div>
          <div id="contact" class="tab-pane fade">
            <app-contact></app-contact>
          </div>
        </div>
        <app-menu></app-menu>
      </div>
    </div>
  </div>

</body>
<script>
  if ('serviceWorker' in navigator) {
    window.addEventListener('load', function() {
      navigator.serviceWorker.register('../assets/service-worker.js').then(function(registration) {
        // Registration was successful
        console.log('ServiceWorker registration successful with scope: ', registration.scope);
      }, function(err) {
        // registration failed :(
        console.log('ServiceWorker registration failed: ', err);
      });
    });
  }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
</html>
