<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <div class="container">
    <app-nav></app-nav>
    <div class="row">
      <div class="col-sm-3" id="leftPanel">
        <app-left-panel></app-left-panel>
      </div>
      <div class="col-sm-9" id="mainContent">
        <div class="tab-content mainSection">
          <div id="home" class="tab-pane fade in active">
            <app-about></app-about>
          </div>
          <div id="projects" class="tab-pane fade">
            <app-projects></app-projects>
          </div>
          <div id="blog" class="tab-pane fade">
            <app-blog></app-blog>
          </div>
          <div id="contact" class="tab-pane fade">
            <app-contact></app-contact>
          </div>
        </div>
        <app-menu></app-menu>
      </div>
    </div>
  </div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
</html>
