<div id="resume" class="tab-pane fade">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>Resume</h2>
    </div>
    <div class="panel-body">
      <p><img src="#"></p>
    </div>
  </div>
</div>

<div id="education" class="tab-pane fade">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>Education</h2>
    </div>
    <div class="panel-heading">
      <p>Master of Science in Software Development</p>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-6">
          <ul>
            <li><p>Information Structures in Python</p></li>
            <li><p>Data Structures & Algorithms</p></li>
            <li><p>Advanced Java Programming</p></li>
            <li><p>Agile Software Development</p></li>
          </ul>
        </div>
        <div class="col-xs-6">
          <ul>
            <li><p>Software Designs & Patterns</p></li>
            <li><p>Information Systems Analysis & Design</p></li>
            <li><p>Rich Internet Application Development</p></li>
            <li><p>Server-Side Web Development</p></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel-heading">
      <p>Bachelors of Science in Information Technology</p>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-6">
          <ul>
            <li><p>Object Oriented Programming</p></li>
            <li><p>Data Structures & Algorithms</p></li>
            <li><p>Discrete Math</p></li>
          </ul>
        </div>
        <div class="col-xs-6">
          <ul>
            <li><p>Java Programming</p></li>
            <li><p>Software Engineering Concepts</p></li>
            <li><p>Operating System Concepts</p></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="aboutSite" class="tab-pane fade">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>About This Site</h2>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-4">
          <p>Framework:</p>
          <p>Styling:</p>
          <p>Database:</p>
          <p>Lighthouse Score:</p>
        </div>
        <div class="col-xs-8">
          <p>Angular4</p>
          <p>Bootstrap</p>
          <p>Firebase</p>
          <p>87</p>
        </div>
      </div>
    </div>
  </div>
</div>
