<div class="panel panel-default">
  <div class="panel-heading">
    <h2>About Me</h2>
  </div>
  <div class="panel-body" style="text-align: justify; height: 300px;">
    <p> <b>Hi,</b> my name is Patrick Emery.<br>
      I enjoy writing and designing applications and using various frameworks to optimize functionality.
      I am passionate about intuitive user-interfaces that focus on the human aspect of design and features.
      Each application I have written has helped me build my knowledge of the web applications and their
      stack environment. I spend every day learning about the new enhancements to different programming
      languages and finding ways to improve my code. My objective is to help build functional and
      well-designed applications that will help guide the way that we interact with technology.
    </p>
  </div>
</div>
